@charset "UTF-8";

body{
    color: rgba(0, 0, 0, 0.8);
}
p{
    text-align: justify;
    text-indent: 50px;
}
h2{
    text-align: center;
}
span{
    text-decoration: underline;
}

/* Foto com legenda */
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}