* {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}


/* ===========================
          NAVEGATION
=============================*/
.navbar {
    padding: 22px 0px !important;
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}

.navbar-inverse{
    background-color: transparent !important;
}

.navbar ul li a {
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover {
    color: deepskyblue !important;
}

.navbar-header a {
    padding: 7px 0 0 0;
    opacity: 0.8;
}
.navbar-header a:hover {
    opacity: 1;
}

.navbar-toggle {
    border: 1px solid white !important;
    transition: all 0.5s ease-in;
    background-color: transparent !important;
}

.navbar-toggle:hover {
    background-color: deepskyblue !important;
}

.navbar-inverse .navbar-collapse{
    border-color: transparent !important;
}

.location{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 50px;
}

@media(max-width:600px){
    .navbar-header .navbar-brand img{
        position: absolute;
        left: 20px;
    }
    .navbar-header .navbar-toggle{
        margin-left: 45px;
    }
    .navbar-nav li{
        margin-left: 20px;
    }
    .location{
        padding: 0;
        width: 160px;
    }
}


/* ===========================
  Navegation Background-Color
=============================*/
.secondary-bg{
    background-color: #34495e !important;
}


/* ===========================
          Slider
=============================*/
.slider{
    width: 100%;
    height: 800px;
    background-image: url('img/slider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    color: white;
}

.slider-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
}

.slider-content{
    position: absolute;
    top: 39%;
    width: 100%;
}

.icons .fa{
    font-size: 35px;
    color: #f7f7f7;
    margin-right: 8px;
}
.icons .fa:last-child{
    margin-right: 0;
}

.cta-div{
    margin-top: 30px;
}

.btn1{
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;

    border: 2px solid white;
    border-top-left-radius: 15px;

    transition: all 0.5s ease-in;
}
.btn1:hover{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-color: orangered;
}

.btn2{
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    
    transition: all 0.5s ease-in;

    margin-left: -6px;
}
.btn2:hover{
    text-decoration: none;
    color: white;
    background-color: skyblue;
    border-color: skyblue;
}

.social-networks a.fa{
    color: white;
    font-size: 22px;
    padding: 10px;
    margin-right: 2px;
    border: 1px solid white;
    border-radius: 50px;
    transition: all 0.5s ease-in;
}
.social-networks a.fa:first-child{
    padding: 9px 14px;
}
.social-networks a.fa:last-child{
    margin-right: 0;
}
.social-networks a.fa:hover{
    color: white;
    text-decoration: none;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.slider #text-txt, .slider .typed-cursor{
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    font-size: 50px;
}

.slider span.primary{
    color: orangered;
}
.slider span.second{
    color: deepskyblue;
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
    /* Making sure about it's working on other browser */
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
}

@-webkit-keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* ===========================
         OUR SERVICE
=============================*/
.service-area{
    margin-top: 30px;
}

.service-wrap{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
}

.service-wrap::before, .service-wrap::after{
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background-color: #34495e;
}

.service-wrap::before{
    top: -37px;
    left: 100%;
}
.service-wrap:hover:before{
    left: -27px;
    opacity: 1;
}

.service-wrap::after{
    right: 100%;
    bottom: -37px;
}
.service-wrap:hover:after{
    right: 0;
    opacity: 1;
}

.service-wrap:hover{
    color: white;
}

.service-icon i{
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.service-wrap:hover .service-icon i{
    transform: rotate(360deg);
}

.service-wrap h3{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    position: relative;
}

.service-wrap p{
    font-size: 14px;
    margin-bottom: 0;
}


/* ===========================
          Works
=============================*/
.work{
    margin-top: 25px;
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform 0.5s ease;
}
.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}


/* ===========================
            Team
=============================*/
.team-member{
    margin: 0 15px;
    margin-top: 20px;
}

.team-member-info{
    padding: 10px 0 30px 0;
}

h4.team-member-name{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation{
    text-transform: capitalize;
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
}

ul.social-list{
    list-style: none;
    padding-left: 0;
}

ul.social-list li{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 6px;
}

ul.social-list i{
    font-size: 17px;
}

.icon-gray i{
    color: #64707b;
}


/* ===========================
            Clients
=============================*/
.testimonials{
    background-image: url('img/reviews.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: white;
    padding-top: 80px;
    padding-bottom: 165px;
}
.testimonials .border-bottom{
    margin: 0 auto;
    background-color: white;
    width: 45px;
    height: 2px;
    border-radius: 5px;
}

.carousel-inner img{
    width: 150px;
    height: 150px;
    
    padding: 5px;
    
    border: 3px solid white;
    border-radius: 100%;
}
.carousel-inner p{
    margin-top: 25px;
    font-size: 15px;
}

.testimonials .carousel-indicators{
    bottom: -50px;
}


/* ===========================
             FAQ
=============================*/
#accordian .panel{
    box-shadow: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

#accordian .panel-heading{
    padding: 0;
    border: none;
    border-radius: 10px;
}

#accordian .panel-title a{
    display: block;
    padding: 25px 35px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #34495e;
    border: none;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

#accordian .panel-title a::after,
#accordian .panel-title a.collapsed::after{
    content: "\f068";
    font-family: fontawesome;
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 50%;
    background: #34495e;
    text-align: center;
    font-size: 15px;
    color: white;
    border: 5px solid white;
    position: absolute;
    top: 10px;
    left: -25px;
    transition: all 0.5s ease 0s;
}

#accordian .panel-title a.collapsed::after{
    content: "\f067";
}

#accordian .panel-title a:hover::after,
#accordian .panel-title a.collapsed:hover::after{
    transform: rotate(360deg);
}

#accordian .panel-body{
    padding: 15px 25px;
    background-color: #ebebee;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 25px;
    border-top: none;
    position: relative;
}

.freeimage img{
    margin-top: -45px;
}


@media(max-width:420px){
    #accordian .panel-title a::after,
    #accordian .panel-title a.collapsed::after{
        left: -16px;
    }
}


/* ===========================
            VIDEO
=============================*/
.video-area {
    padding: 180px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('img/video.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    
    overflow: hidden;
    margin-top: 40px;
    background-attachment: fixed;
}

.video-container{
    position: relative;
    padding-bottom: 54.25%;
    padding-top: 13px;
    height: 0;
    overflow: hidden;
    margin-top: -130px;
    display: none;
}

.play{
    background: #ffffff url('img/play-btn.png') no-repeat 60% 50%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 0px 20px rgba(0, 167, 211, 0.5);
    
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
}
.play:hover{
    box-shadow: 0px 0px 15px 20px rgba(0, 84, 111, 0.5);
}


/* ===========================
            BLOG
=============================*/
.latest-news-area{
    margin-top: 40px;
}

.latest-news-wrap{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

.news-img{
    position: relative;
}
.news-img::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-news-wrap:hover .news-img::before{
    opacity: .5;
    transform: scale(1);

}

.deat{
    background: #f89406 none repeat scroll 0 0;
    width: 70px;
    height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    padding: 10px;
}
.deat span{
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.news-content{
    padding: 20px;
}

.news-content i{
    font-size: 18px;
    display: inline-block;
}
.news-content i.fa{
    padding: 10px 10px;
    cursor: pointer;
}
.news-content .fa-facebook{
    color: #3b5995;
}
.news-content .fa-twitter{
    color: #0084b4;
}
.news-content .fa-linkedin{
    color: #0077b5;
}
.news-content .fa-youtube{
    color: red;
}
.news-content .fa-whatsapp{
    color: #34af23;
}

.news-content p{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

.news-content a{
    font-size: 14px;
    background-color: #34495e;
    padding: 10px 20px;
    color: white;
    transition: all 0.3s ease-in;
}
.news-content a:hover{
    color: #34495e;
    text-decoration: none;
    border: 1px solid #34495e;
    border-top-right-radius: 15px;
    background-color: transparent;
}


/* ===========================
        COUNTER STATS
=============================*/
.stat{
    background-image: url('img/cover-bg-1.jpg');
    background-position: center;
    background-attachment: fixed;
    padding-top: 180px;
    padding-bottom: 200px;
    margin-top: 10px;
    color: #ffffff;
}

.stat i{
    font-size: 80px;
}

.stat-items h2{
    font-weight: bolder;
    font-size: 42px;
    color: deepskyblue;
}

.stat-items p{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}