body{
    background-image: url('img/bg3.jpg');
    background-size: cover;
    height: 100vh;
}

.container{
    width: 80%;
    height: 40px;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

#logo{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin-top: -180px;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation-wrapper{
    position: relative;
}

.navigation-button{
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 100px;
    background: transparent;
    cursor: pointer;
}

.navigation-button #faa{
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

.navigation-menu ul li{
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 70%);
}

.navigation-menu{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background: white;
    height: 100%;
    transform: skewX(0deg) translate(100%,0);
    transform-origin: top right;
    transition: all .2s ease-in;
    z-index: -1;
}

.navigation-menu ul{
    transform: skewX(-8deg);
    transform-origin: top left;
    position: fixed;
    right: 120px;
    top: 120px;
    width: 400px;
    text-align: right;
}

.navigation-menu ul li{
    position: relative;
    z-index: 999;
    font-size: 32px;
    color: hsl(0, 0%, 10%);
    line-height: 64px;
}

.navigation-menu ul li a{
    border: none;
    color: hsl(0, 0%, 10%);
    text-decoration: none;
}

.navigation-menu.active{
    transform: skewX(8deg) translate(0,0);
}

.navigation-menu li{
    opacity: 0;
    transform: (0,10px);
    transition: all .0s ease-in .3s;
}

.navigation-menu.active li{
    opacity: 1;
    transform: translate(0,0);
    transition: all 0.2s ease-in 0s;
}

.navigation-menu.active li:nth-child(1){
    transition-delay: .3s;
}
.navigation-menu.active li:nth-child(2){
    transition-delay: .4s;
}
.navigation-menu.active li:nth-child(3){
    transition-delay: .5s;
}
.navigation-menu.active li:nth-child(4){
    transition-delay: .6s;
}
.navigation-menu.active li:nth-child(5){
    transition-delay: .7s;
}
.navigation-menu.active li:nth-child(6){
    transition-delay: .8s;
}


section.hero h1{
    margin-top: 178px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
    letter-spacing: 4px;
    color: white;
}

span{
    font-size: 65px;
    letter-spacing: 2px;
}


.button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin-top: 40px;
}

.btn1{
    padding: 12px 25px;
    background-color: #f20c4a;
    text-decoration: none;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.btn2{
    padding: 12px 21px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn1:hover{
    background-color: black;
}
.btn2:hover{
    color: white;
    background-color: #e9849f;
}