:root{
    font-size: 16px;
    font-family: 'Open Sans';

    /* CSS VARIABLE */
    --text-primary: #b6b6b6;
    --text-secondary: #b6b6b6;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms; 
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width:  0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background-color: #6649b8;
}

main{
    margin-left: 5rem; /* 5rem = 5 * 16px -> 80px */
    padding: 1rem;
}

.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-bar{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: 300px;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.fa-primary{
    color: #ff7eee;
}
.fa-secondary{
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}
.navbar:hover .logo svg{
    transform: rotate(-540deg);
}


/* Small MEDIA SCREEN */
@media (max-width: 400px){
    body{
        padding-bottom: 80px;
    }
    .navbar-bar{
        width: 20vw;
    }
}
/* Small MEDIA SCREEN */
@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo{
        display: none;
    }
    .navbar-bar{
        flex-direction: row;
    }
    .navbar:hover{
        width: 100vw;
    }
    .nav-link{
        justify-content: center;
    }
    .link-text{
        display: none;
    }
    .navbar:hover .link-text{
        display: none;
    }
    .nav-item:last-child{
       margin-top: 0;
    }
    
    main{
        margin: 0;
    }
}

/* Large MEDIA SCREEN */
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }
    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed);
    }
}